.editable-container a,
.editable-container a:hover{
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  cursor: pointer;
  color: #323133;
}
.editable-btn button:nth-child(2) {
  margin-left: 6px;
}
